# Python
backend/venv/
backend/.venv/
**/__pycache__/
*.py[cod]
*$py.class
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/
admin-web/.env.local
admin-web/.env.*.local


# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
